body, html {
    height: 100%;
    margin: 0;
}
.bg {
    background-image: url("../img/capital-federal.jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-rounded {
    border-radius: 10em;
}